<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Cosmetic</title>
    <link rel="stylesheet" href="/css/loginRegisterStyle.css">
</head>
<body>
<nav class="navbar">
    <div class="nav-left">
        <a th:href="@{/home}" >
            <button class="add-game">Home</button>
        </a>
        <a th:href="@{/add-game}" >
            <button class="add-game">Add Game</button>
        </a>
        <a th:href="@{/cosmetics/add}" >
            <button class="add-game">Add Cosmetic</button>
        </a>
    </div>
    <div class="auth-buttons">
        <a th:href="@{/logout}" >
            <button class="logout">Log Out</button>
        </a>
    </div>
</nav>

    <!-- Add Cosmetic Form Container -->
    <div class="container">
        <div class="auth-box">
            <h2>Add Cosmetic</h2>
            <form th:action="@{/cosmetics/add}" th:method="POST" th:object="${addCosmeticRequest}">
                <label for="cosmetic-name">Cosmetic Name:</label>
                <input type="text" id="cosmetic-name" placeholder="Enter cosmetic name" required th:field="*{name}">

                <label for="description">Description:</label>
                <textarea id="description" placeholder="Enter cosmetic description" required th:field="*{description}"></textarea>

                <label for="imageUrl">Image URL:</label>
                <input type="url" id="imageUrl" placeholder="Enter image URL" required th:field="*{imageUrl}">

                <label for="game">Select Game:</label>
                <select id="game" required th:field="*{game}">
                    <option th:each="igame : ${games}" th:text="${igame.name}" th:value="${igame.id}"></option>
                </select>

                <label for="price">Price:</label>
                <input type="number" step=".01" id="price" placeholder="Enter price" required th:field="*{price}">

                <button type="submit" class="auth-button">Add Cosmetic</button>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        &copy; 2025 Pocket Entertainment. All rights reserved. | <a href="#">Contact us</a>
    </footer>

</body>
</html>
