<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Game</title>
    <link rel="stylesheet" href="/css/loginRegisterStyle.css">
</head>
<body>
<nav class="navbar">
    <div class="nav-left">
        <a th:href="@{/home}" >
            <button class="add-game">Home</button>
        </a>
    </div>
    <div class="auth-buttons">
        <a th:href="@{/logout}" >
            <button class="logout">Log Out</button>
        </a>
    </div>
</nav>
    <!-- Add Game Form Container -->
    <form class="container" th:action="@{/games/add-game}" th:method="POST" th:object="${addGameRequest}">
        <div class="auth-box">
            <h2>Add Game</h2>
            <form>
                <label for="game-name">Game Name:</label>
                <input type="text" id="game-name" placeholder="Enter game name" required th:field="*{name}">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-warning">Error Text Here</p>

                <label for="description">Description:</label>
                <textarea id="description" placeholder="Enter game description" required th:field="*{description}"></textarea>
                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-warning">Error Text Here</p>

                <label for="imageUrl">Image URL:</label>
                <input type="url" id="imageUrl" placeholder="Enter image URL" required th:field="*{imageUrl}">
                <p th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="text-warning">Error Text Here</p>

                <button type="submit" class="auth-button">Add Game</button>
            </form>
        </div>
    </form>

    <!-- Footer -->
    <footer>
        <p>© 2025 Pocket Entertainment. All Rights Reserved. | <a th:href="@{/contacts}" class="contact-link">Contact us</a></p>
    </footer>

</body>
</html>
