<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/css/loginRegisterStyle.css">
</head>
<body>
<nav class="navbar">
    <div class="nav-left">
        <a th:href="@{/home}">
            <button class="add-game">Home</button>
        </a>
    </div>
    <div class="auth-buttons">
        <a th:href="@{/logout}">
            <button class="logout">Log Out</button>
        </a>
    </div>
</nav>

<form class="container" th:action="@{/contacts}" th:method="POST">
    <div class="auth-box">
        <h2>Contact Us</h2>
        <form th:action="@{/contacts}" th:method="POST" th:object="${notificationRequest}">

            <label for="email">Email Address:</label>
            <input type="email" id="email" placeholder="Enter your email" required th:field="*{replyTo}">

            <label for="subject">Subject:</label>
            <input type="text" id="subject" placeholder="Subject" required th:field="*{subject}">

            <label for="message">Message:</label>
            <textarea id="message" placeholder="Enter your message" required th:field="*{body}"></textarea>

            <button type="submit" class="auth-button">Send Message</button>
        </form>
    </div>
</form>

<footer>
    <p>© 2025 Pocket Entertainment. All Rights Reserved.</p>
</footer>

</body>
</html>
