<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/css/loginRegisterStyle.css">
</head>
<body>
<nav class="navbar">
    <div class="nav-left">
        <a th:href="@{/home}" >
            <button class="add-game">Home</button>
        </a>
        <a th:href="@{/add-game}" >
            <button class="add-game">Add Game</button>
        </a>
        <a th:href="@{/cosmetics/add}" >
            <button class="add-game">Add Cosmetic</button>
        </a>

    </div>
    <div class="auth-buttons">
        <a th:href="@{/logout}" >
            <button class="logout">Log Out</button>
        </a>
    </div>
</nav>

    <!-- Edit Profile Form -->
    <div class="container">
        <div class="auth-box">
            <h2>Edit Profile</h2>
            <form th:action="@{'/users/' + ${user.id} + '/profile'}" th:method="PATCH" th:object="${editAccountRequest}">
                <label for="profile-img">Profile Image URL:</label>
                <input type="url" id="profile-img" placeholder="Enter profile image URL" th:field="*{profilePicture}">

                <label for="first-name">First Name:</label>
                <input type="text" id="first-name" placeholder="Enter your first name"  th:field="*{firstName}">

                <label for="last-name">Last Name:</label>
                <input type="text" id="last-name" placeholder="Enter your last name"  th:field="*{lastName}">

                <label for="email">Email:</label>
                <input type="email" id="email" placeholder="Enter your email"  th:field="*{email}">

                <button type="submit" class="auth-button">Save Changes</button>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        &copy; 2025 Pocket Entertainment. All rights reserved. | <a href="#">Contact us</a>
    </footer>

</body>
</html>
