<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocket Entertainment</title>
    <link rel="stylesheet" href="/css/homeStyle.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <a th:href="@{/planet-of-peace}" >
                <button class="add-game">Planet of Peace</button>
            </a>
            <a th:href="@{/add-game}" >
                <button class="add-game">Add Game</button>
            </a>
            <a th:href="@{/cosmetics/add}" >
                <button class="add-game">Add Cosmetic</button>
            </a>
            <a th:href="@{'/users/' + ${user.id}}" >
                <button class="add-game">Account</button>
            </a>
        </div>
        <div class="auth-buttons">
            <a th:href="@{/logout}" >
                <button class="logout">Log Out</button>
            </a>
        </div>
    </nav>

    <div class="container">
        <div class="games">
            <h2>Games</h2>
            <ul>
                <li th:each="game : ${games}" class="game-item">
                    <img class="profile-picture" th:src="${game.imageUrl}">
                    <h3 th:text="${game.getName()}"></h3>
                    <p th:text="${game.getDescription()}"></p>
                    <p class="price" th:text="${game.getPrice()} + '$'"></p>
                    <form th:method="@{'/games/' + ${game.getId()} + '/buy'}" th:type="POST">
                        <button class="refund">Buy Game</button>
                    </form>
                </li>
            </ul>
        </div>

        <div class="cosmetics">
            <h2>Cosmetics</h2>
            <ul>
                <li th:each="cosmetic : ${cosmetics}" class="cosmetic-item">
                    <img class="profile-picture" th:src="${cosmetic.imageUrl}">
                    <h3 th:text="${cosmetic.name}"></h3>
                    <p th:text="${cosmetic.description}"></p>
                    <p th:text="${cosmetic.price} + '$'" class="price"></p>
                    <button class="refund">Buy Cosmetic</button>
                </li>
            </ul>
        </div>
    </div>

    <footer>
        <p>© 2025 Pocket Entertainment. All Rights Reserved. | <a href="contact.html" class="contact-link">Contact us</a></p>
    </footer>
</body>
</html>
