<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In - Pocket Entertainment</title>
    <link rel="stylesheet" href="/css/loginRegisterStyle.css">
</head>
<body>

    <nav class="navbar">
        <div class="nav-left">
            <h1 th:href="@{/}" >Pocket Entertainment</h1>
        </div>
        <div class="auth-buttons">
            <a th:href="@{/register}">
                <button class="register">Register</button>
            </a>
        </div>
    </nav>

    <div class="container">
        <form class="auth-box" th:action="@{/login}" th:method="POST" th:object="${loginRequest}">
            <h2>Log In</h2>
            <label for="username">Username:</label>
            <input type="text" placeholder="Enter your username" id="username" th:field="*{username}">

            <label for="password">Password:</label>
            <input type="password" placeholder="Enter your password" id="password" th:field="*{password}">
            <p class="alert-warning" th:if="${errorMessage}" th:text="${errorMessage}"></p>
            
            <button type="submit" class="auth-button">Log In</button>

            <p>Don't have an account? <a th:href="@{/register}">Register</a> here.</p>
        </form>
    </div>

    <footer>
        <p>&copy; 2025 Pocket Entertainment. All rights reserved. | <a href="contact.html">Contact us</a></p>
    </footer>

</body>
</html>
