<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallets</title>
    <link rel="stylesheet" href="/css/usersStyle.css">
</head>
<body>

<nav class="navbar">
    <div class="nav-left">
        <a th:href="@{/home}" >
            <button class="add-game">Home</button>
        </a>
    </div>
    <div class="auth-buttons">
        <ul class="currency-container">
            <li th:each="wallet : ${wallets}" class="currency-item">
                <span th:text="${wallet.balance}"></span>
                <img th:src="${wallet.currency.url}" class="currency-icon">
            </li>

            <a th:href="@{'/wallets/' + ${user.id}}">
                <button class="buy-currency">+</button>
            </a>
        </ul>
        <a th:href="@{/logout}" >
            <button class="logout">Log Out</button>
        </a>
    </div>
</nav>

<div class="container">
    <div class="auth-box">
        <h2 th:text="${user.username} + '\'s wallets.'"></h2>
        <h3>2 Pocket Tokens = 1 Euro</h3>
        <p style="text-align: center; color: red" th:text="${noEuro}"></p>
        <p style="text-align: center; color: red" th:text="${error}"></p>
        <table class="users-table">
            <thead>
            <tr>
                <th></th>
                <th>Wallet ID</th>
                <th>Currency</th>
                <th>Balance</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr class="horizon" th:each="wallet : ${user.wallets}">
                <td><img id="profile-img" th:src="${wallet.currency.url}"></td>
                <td th:text="${wallet.id}"></td>
                <td th:text="${wallet.currency.code}">----</td>
                <td th:text="${wallet.balance}">----</td>
                <td>
                    <form class="currency" th:action="@{'/wallets/' + ${wallet.id}}" th:method="PUT" th:object="${addCurrencyRequest}">
                        <input type="number" step=".01" placeholder="Amount" th:field="*{amount}">
                        <button type="submit" class="role-button">Add Currency</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer>
    <p>© 2025 Pocket Entertainment. All Rights Reserved. | <a th:href="@{/contacts}" class="contact-link">Contact us</a></p>
</footer>

</body>
</html>
