body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e3e3e3;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Keeps nav items spaced out */
    align-items: center;
    background-color: #222;
    color: white;
    padding: 10px 20px;
    position: relative;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-center {
    position: absolute; /* Positioning it in the center */
    left: 50%;
    transform: translateX(-50%); /* Offset by 50% to truly center */
}

button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.add-game {
    background-color: #17a2b8;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px; /* Adds spacing between logo and button */
}

.users {
    background-color: #31ff00;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center; /* Adds spacing between logo and button */
}

.auth-buttons button {
    background-color: #d63384;
    color: white;
    margin-left: 5px;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px 20px 80px;
}

.games, .cosmetics {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 45%;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 7px;
}

h2 {
    border-bottom: 2px solid #bbb;
    padding-bottom: 5px;
}

.game-item, .cosmetic-item {
    background: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.price {
    font-weight: bold;
    color: #444;
}

.refund {
    background-color: #dc3545;
    color: white;
    margin-top: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #17a2b8;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
