<!-- comms.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Pocket Entertainment App</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <!-- Header Fragment -->
    <header th:fragment="header">
        <div class="left">
            <span>Pocket Entertainment APP</span>
            <button>Add Game</button>
            <button>Add Cosmetic</button>
        </div>
        <div class="right">
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/register}">Register</a>
            <a th:href="@{/logout}">Logout</a>
        </div>
    </header>

    <!-- Footer Fragment -->
    <footer th:fragment="footer">
        <div class="left">
            <a th:href="@{/contact}">Contact</a>
        </div>
        <div class="right">
            &copy; Pocket Entertainment Trademark 2025
        </div>
    </footer>
</body>
</html>
